//colors
$red: hsl(9, 100%, 58%);
$pink: hsl(346, 100%, 63%);
$white: hsl(346, 0%, 100%);
$lightGray: hsl(0, 0%, 87%);
$darkGray: hsl(0, 0%, 20%);

//font-size
$font-sm: 0.75rem; //12px
$font-med: 0.875rem; //14px
$font-lg: 1rem; //16px
